<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960882870661-huq0v7l7nap4194h9ct0b0j1fbfabp2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960882870661-huq0v7l7nap4194h9ct0b0j1fbfabp2r</string>
	<key>API_KEY</key>
	<string>AIzaSyAilvO_aSQBUpymGwyvhea7uKCUQP2JkoU</string>
	<key>GCM_SENDER_ID</key>
	<string>960882870661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazonClone</string>
	<key>PROJECT_ID</key>
	<string>clone-1753a</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-1753a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960882870661:ios:4314f3b950c3a7e4dd1cec</string>
</dict>
</plist>